[submodule "abseil-cpp"]
	path = abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "ipc-bench/abseil-cpp"]
	path = ipc-bench/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
